<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- DIAGNOSTICS -->
    <add key="WS_DIAG_URL" value="" />
    <!-- CONNESSIONE AI DATI -->
    <add key="ConnStr" value="" />
    <!-- Indica se utilizzare l'event log di Windows -->
    <add key="Diag_UseEvtLog" value="True" />
    <!-- Path dei file di log -->
    <add key="Diag_LogPath" value="C:\inetpub\NotificationSvc\Logs\" />
    <!-- Numero max di file di log -->
    <add key="Diag_LogMaxFiles" value="20" />
    <add key="LogSACNotificaPaziente" value="SAC01" />
    <add key="LogOENotificaRichiesta" value="OE002" />
    <add key="LogOENotificaStato" value="OE001" />
    <add key="LogDWHNotificaADT" value="DWHADT001" />
    <add key="LogDWHNotificaALA" value="DWHALA001" />
    <add key="LogDWHNotificaReferti" value="DWHRef001" />
    <add key="LogDWHNotificaRefertiSalo" value="DWHRef002" />
    <add key="SistemaEroganteRefertiSalo" value="SO" />
    <add key="LogDWHNotificaRefertiFenix" value="DWHRef003" />
    <add key="SistemaEroganteRefertiFenix" value="MN" />
    <add key="LogUtente" value="WebNotificationService" />
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <authentication mode="None" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.19.1" newVersion="2.0.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>