<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IOrderEntryV1">
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IOrderEntryV11">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IScciPrescrizioni" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IScciRicercaSAC" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IScciRefertiDWH" messageEncoding="Mtom">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IScciRicoveriDWH" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
                <binding name="httpBinding" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_IScciRicoveriDWH1" messageEncoding="Mtom">
                    <security mode="TransportWithMessageCredential">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IScciRefertiDWH1" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
                <binding name="httpBinding1" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
                <binding name="newBinding" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
                <binding name="httpBinding2" messageEncoding="Mtom">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.29.10.14:81/ScciPrescrizioni.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IScciPrescrizioni"
                contract="SvcPrescrizioni.IScciPrescrizioni" name="WSHttpBinding_IScciPrescrizioni" />
            <endpoint address="http://ws-scci-main-test/ScciRicercaSAC.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IScciRicercaSAC"
                contract="SvcRicercaSAC.IScciRicercaSAC" name="WSHttpBinding_IScciRicercaSAC" />
            <endpoint address="https://ws-di-oe-test.asmn.net/WS-DI-OE-1/OE.Wcf.DataAccess.OrderEntry.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderEntryV1"
                contract="SvcOrderEntry.IOrderEntryV1" name="BasicHttpBinding_IOrderEntryV1" />
            <endpoint address="http://ws-di-oe-test.asmn.net/WS-DI-OE-1/OE.Wcf.DataAccess.OrderEntry.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderEntryV11"
                contract="SvcOrderEntry.IOrderEntryV1" name="BasicHttpBinding_IOrderEntryV11" />
            <endpoint address="http://localhost:52485/ScciOrderEntry.svc/http"
                binding="wsHttpBinding" bindingConfiguration="httpBinding"
                contract="SvcOrderEntry.IScciOrderEntry" name="httpBinding" />
            <endpoint address="http://ws-scci-main-test/ScciRicoveriDWH.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IScciRicoveriDWH"
                contract="SvcRicoveriDWH.IScciRicoveriDWH" name="WSHttpBinding_IScciRicoveriDWH" />
            <endpoint address="https://ws-scci-main-test.asmn.net/ScciRicoveriDWH.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IScciRicoveriDWH1"
                contract="SvcRicoveriDWH.IScciRicoveriDWH" name="WSHttpBinding_IScciRicoveriDWH1" />
            <endpoint address="https://ws-scci-main-test.asmn.net/ScciRefertiDWH.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IScciRefertiDWH"
                contract="SvcRefertiDWH.IScciRefertiDWH" name="WSHttpBinding_IScciRefertiDWH" />
            <endpoint address="http://ws-scci-main-test/ScciRefertiDWH.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IScciRefertiDWH1"
                contract="SvcRefertiDWH.IScciRefertiDWH" name="WSHttpBinding_IScciRefertiDWH1" />
            <endpoint address="http://172.29.10.14:81/ScciOrderEntry.svc/http"
                binding="wsHttpBinding" bindingConfiguration="httpBinding1"
                contract="SvcOrderEntry.IScciOrderEntry" name="httpBinding1" />
            <endpoint address="http://localhost:52485/ScciConsensiSAC.svc"
                binding="wsHttpBinding" bindingConfiguration="newBinding"
                contract="SvcConsensiSAC.IScciConsensiSAC" name="newBinding" />
            <endpoint address="http://localhost:52485/ScciOrderEntry.svc"
                binding="wsHttpBinding" bindingConfiguration="httpBinding2"
                contract="SvcOrderEntry.IScciOrderEntry" name="httpBinding2" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Spire.Pdf" publicKeyToken="663f351905198cb3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.9.98.5040" newVersion="3.9.98.5040" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Spire.License" publicKeyToken="b1144360237c8b3f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.6.40" newVersion="1.3.6.40" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.12.0.0" newVersion="4.12.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.5.0" newVersion="1.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.5.0" newVersion="1.4.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.AttributedModel" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.35.0" newVersion="1.0.35.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.core" publicKeyToken="1488e028ca7ab535" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.669" newVersion="2.0.2.669" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.35.0" newVersion="1.0.35.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SQLitePCLRaw.batteries_v2" publicKeyToken="8226ea5df37bcae9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.669" newVersion="2.0.2.669" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.TypedParts" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.35.0" newVersion="1.0.35.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Hosting" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.35.0" newVersion="1.0.35.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="6.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.JsonWebTokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="6.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Logging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="6.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="6.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="6.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.1.0" newVersion="6.5.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>