<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocX" version="1.8.0" targetFramework="net472" />
  <package id="iTextSharp" version="5.5.13.1" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.0.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="3.5.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="3.5.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp.Scripting" version="3.5.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="3.5.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.3.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient" version="2.1.2" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.21.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.8.0" targetFramework="net472" />
  <package id="Microsoft.VisualBasic" version="10.3.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess" version="19.11.0" targetFramework="net472" />
  <package id="Oracle.ManagedDataAccess.Core" version="2.19.91" targetFramework="net472" />
  <package id="ScciCommon" version="2021.10.05.121" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.Data.Odbc" version="5.0.0" targetFramework="net472" />
  <package id="System.Data.OleDb" version="5.0.0" targetFramework="net472" />
  <package id="System.Diagnostics.EventLog" version="5.0.0" targetFramework="net472" />
  <package id="System.DirectoryServices" version="5.0.0" targetFramework="net472" />
  <package id="System.DirectoryServices.AccountManagement" version="5.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.8.0" targetFramework="net472" />
  <package id="System.Management" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" />
  <package id="System.Resources.Extensions" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.Caching" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.ServiceModel.Http" version="4.8.1" targetFramework="net472" />
  <package id="System.ServiceModel.Primitives" version="4.8.1" targetFramework="net472" />
  <package id="System.ServiceProcess.ServiceController" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
  <package id="UnicodeSrl.DatiClinici472" version="2020.6.10.106" targetFramework="net472" />
  <package id="UnicodeSrl.Framework" version="2021.4.2.305" targetFramework="net472" />
  <package id="UnicodeSrl.RtfLibrary" version="2020.1.31.102" targetFramework="net472" />
</packages>