<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WsSCCI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!--<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <system.web>
    <compilation targetFramework="4.7.2" debug="true" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <authentication mode="Windows" />
    <customErrors mode="Off" />
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" />
  </system.web>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- DIAGNOSTICS -->
    <add key="ConnStringDW" value="" />
    <add key="ConnStr" value="" />
    <!-- Indica se utilizzare l'event log di Windows -->
    <add key="Diag_UseEvtLog" value="True" />
    <!-- Path dei file di log -->
    <add key="Diag_LogPath" value="C:\inetpub\WS-SCCI-Main\Logs\" />
    <!-- Numero max di file di log -->
    <add key="Diag_LogMaxFiles" value="20" />
  </appSettings>
  <system.serviceModel>
    <!--
    -->
    <client>
      <endpoint address="https://ws-di-oe-test.asmn.net/WS-DI-OE-1_2/OE.Wcf.DataAccess.OrderEntry.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderEntryV1" contract="net.asmn.orderentry.IOrderEntryV1" name="BasicHttpBinding_IOrderEntryV1" />
      <endpoint address="http://ws-di-oe-test.asmn.net/WS-DI-OE-1_2/OE.Wcf.DataAccess.OrderEntry.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderEntryV11" contract="net.asmn.orderentry.IOrderEntryV1" name="BasicHttpBinding_IOrderEntryV11" />
      <endpoint address="http://127.0.0.1:8096/WS-DI-OE-1_2/OE.Wcf.DataAccess.OrderEntry.svc/localservice" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrderEntryV11" contract="net.asmn.orderentry.IOrderEntryV1" name="BasicHttpBinding_IOrderEntryV12" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="wsHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrderEntryV1">
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IOrderEntryV11">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="wsHttp" closeTimeout="10:01:00" openTimeout="10:01:00" receiveTimeout="10:10:00" sendTimeout="10:01:00" maxReceivedMessageSize="250000000" messageEncoding="Mtom">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483646" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="WsSCCI.ScciPrescrizioni">
        <host>
          <baseAddresses>
            <add baseAddress="https://ws-scci-main-test.asmn.net/ScciPrescrizioni.svc" />
          </baseAddresses>
        </host>
        <endpoint name="newBinding" address="" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="WsSCCI.IScciPrescrizioni" />
      </service>
      <service name="WsSCCI.ScciRicercaSAC">
        <host>
          <baseAddresses>
            <add baseAddress="https://ws-scci-main-test.asmn.net/ScciRicercaSAC.svc" />
          </baseAddresses>
        </host>
        <endpoint name="newBinding" address="" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="WsSCCI.IScciRicercaSAC" />
      </service>
      <service name="WsSCCI.ScciConsensiSAC">
        <host>
          <baseAddresses>
            <add baseAddress="https://ws-di-sac-test.asmn.net/ws-di-sac-2/consensi.asmx" />
          </baseAddresses>
        </host>
        <endpoint name="newBinding" address="" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="WsSCCI.IScciConsensiSAC" />
      </service>
      <service name="WsSCCI.ScciRefertiDWH">
        <host>
          <baseAddresses>
            <add baseAddress="https://ws-scci-main-test.asmn.net/ScciRefertiDWH.svc" />
          </baseAddresses>
        </host>
        <endpoint name="newBinding" address="" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="WsSCCI.IScciRefertiDWH" />
      </service>
      <service name="WsSCCI.ScciRicoveriDWH">
        <host>
          <baseAddresses>
            <add baseAddress="https://ws-scci-main-test.asmn.net/ScciRicoveriDWH.svc" />
          </baseAddresses>
        </host>
        <endpoint name="newBinding" address="" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="WsSCCI.IScciRicoveriDWH" />
      </service>
      <service name="WsSCCI.ScciOrderEntry">
        <host>
          <baseAddresses>
            <add baseAddress="http://ws-scci-main-test.asmn.net/ScciOrderEntry.svc" />
          </baseAddresses>
        </host>
        <endpoint name="httpBinding" address="" binding="wsHttpBinding" bindingConfiguration="wsHttp" contract="WsSCCI.IScciOrderEntry" />
      </service>
     
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <applicationSettings>
    <WsSCCI.Properties.Settings>
      <setting name="WsSCCI_net_asmn_sac_Pazienti" serializeAs="String">
        <value>http://sac.asmn.net/ws/pazienti.asmx</value>
      </setting>
      <setting name="WsSCCI_net_asmn_dwhclinico_DataAccessTdsV2" serializeAs="String">
        <value>http://dwh-clinico.asmn.net/Ws2/DataAccessTdsV2.asmx</value>
      </setting>
      <setting name="WsSCCI_net_asmn_dwhclinicolab_DataAccessV2" serializeAs="String">
        <value>https://ws-di-dwh.asmn.net/WS-DI-DWH-2/DataAccessV2.asmx</value>
      </setting>
      <setting name="WsSCCI_net_asmn_sacconsensi_Consensi" serializeAs="String">
        <value>https://ws-di-sac.asmn.net/ws-di-sac-2/consensi.asmx</value>
      </setting>
    </WsSCCI.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.20168.4" newVersion="2.0.20168.4" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Words.NET" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Document.NET" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>